@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

#parentM li a:hover{
    background-color: #0d6efd;
}

.container{
    width: 100%;
}

.content-text{
    text-align: justify;
    text-indent: 55px;
    font-size: 20px;
    line-height: 35px;
}

.active{
    background-color: #0d6efd;
    border-radius: 5px;
}

.content-list{
    font-size: 18px;
}

.content-list li{
    margin: 10px 0;
    font-family: 'Montserrat', sans-serif;
}