.user-icon,.arrow-down-icon{
    width: 150px;
    height: 75px;
    margin: 15px auto;
    display: flex;
    justify-content: space-between;
}

.user-icon_svg,.arrow-down-icon_svg{
    width: 70px;
    height: 70px;
    color: white;
}

.data-box{
    width: 450px;
    height: 150px;
    border: 1px solid white;
    border-radius: 5px;
    margin: 40px auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.data-secondary{
    width: 100px;
    height: 100px;
    color: white;
    border: 1px solid white;
    border-radius: 3px;
}