.box-main{
    width: 99%;
    margin: 0 auto;
}

.presentation-layer-box{
    width: 320px;
    height: 150px;
    border: 1px solid white;
    border-radius: 5px;
    margin: 10px auto;
}

.presentation-layer-box h3{
    color: white;
}

.arrow-down-icon,.arrow-up-icon{
    width: 75px;
    height: 95px;
    margin-top: 25px;
}

.arrow-down-icon_svg,.arrow-up-icon_svg{
    width: 70px;
    height: 70px;
    margin-top: 15px;
    color: white;
}

.arrow-down-icon p,.arrow-up-icon p{
    width: 70px;
    height: 20px;
    border: none;
    text-align: center;
    background-color: black;
    color: white;
}

.network-icon{
    width: 100px;
    height: 100px;
    margin-top: 45px;
    text-align: center;
}

.network-icon_svg{
    width: 95px;
    height: 95px;
    color: white;
}

.network-icon span{
    color: white;
    top: 20px;
}